@model Post
@using AppMVC.Components;
@{
    List<Category> categories = ViewBag.categories as List<Category>;
    Category category = ViewBag.category as Category;
    IQueryable<Post> otherPosts = ViewBag.otherPosts as IQueryable<Post>;
    IQueryable<Post> recentNews = ViewBag.recentNews as IQueryable<Post>;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/">Home</a></li>
        @if (category != null)
        {
            var list = category.ListParents();
            foreach (var item in list)
            {
                <li class="breadcrumb-item"><a asp-action="Index" asp-route-categoryslug="@item.Slug">@item.Title</a></li>
            }
            <li class="breadcrumb-item"><a asp-action="Index" asp-route-categoryslug="@category.Slug">@category.Title</a>
            </li>
        }
    </ol>
</nav>

<!-- Blog Details Hero Begin -->
<section class="blog-details-hero set-bg" data-setbg="/UserAssets/img/blog/details/details-hero.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog__details__hero__text">
                    <h2>@Model.Title</h2>
                    <ul>
                        <li>By @Model.Author.UserName</li>
                        <li>@Model.DateCreated</li>
                        <li>8 Comments</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Hero End -->
<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 order-md-1 order-2">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="blog__sidebar__item">
                        <ul>
                            
                            @await Component.InvokeAsync("AppMVC.Components.CategorySidebar",
                                     new CategorySidebar.CategorySidebarData()
                            {
                                Categories = categories,
                                level = 0,
                                categoryslug = category.Slug
                            })
                            
                        </ul>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Recent News</h4>
                        <div class="blog__sidebar__recent">
                            @foreach(var post in recentNews)
                            {
                                <a href="#" class="blog__sidebar__recent__item">
                                    <div class="blog__sidebar__recent__item__pic">
                                        <img src="~/UserAssets/img/blog/sidebar/sr-1.jpg" alt="">
                                    </div>
                                    <div class="blog__sidebar__recent__item__text">
                                        <h6>@post.Title <br/> @post.Description</h6>
                                        <span>@post.DateUpdated.ToShortDateString()</span>
                                    </div>
                                </a>
                            }
                            
                        </div>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Search By</h4>
                        <div class="blog__sidebar__item__tags">
                            <a href="#">Apple</a>
                            <a href="#">Beauty</a>
                            <a href="#">Vegetables</a>
                            <a href="#">Fruit</a>
                            <a href="#">Healthy Food</a>
                            <a href="#">Lifestyle</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 order-md-1 order-1">
                <div class="blog__details__text">
                    <img src="~/UserAssets/img/blog/details/details-pic.jpg" alt="">
                    <p>
                        @Html.Raw(Model.Content)
                    </p>
                    <h3>
                        @Model.Description
                    </h3>
                    <p>
                        The study area is located at the back with a view of the vast nature. Together with the other
                        buildings, a congruent story has been managed in which the whole has a reinforcing effect on
                        the components. The use of materials seeks connection to the main house, the adjacent
                        stables
                    </p>
                </div>
                <div class="blog__details__content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="blog__details__author">
                                <div class="blog__details__author__pic">
                                    <img src="~/UserAssets/img/blog/details/details-author.jpg" alt="">
                                </div>
                                <div class="blog__details__author__text">
                                    <h6>@Model.Author.UserName</h6>
                                    <span>Admin</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="blog__details__widget">
                                <ul>
                                    <li><span>Categories:</span> @Model.PostCategories.FirstOrDefault().Category.Title</li>
                                    <li><span>Tags:</span> All, Trending, Cooking, Healthy Food, Life Style</li>
                                </ul>
                                <div class="blog__details__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-envelope"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Section End -->
<!-- Related Blog Section Begin -->
<section class="related-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related-blog-title">
                    <h2>Post You May Like</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var post in otherPosts)
            {
                string actionUrl = @Url.Action("Detail", "ViewPost", new { area = "Blog", postslug = post.Slug });
                <div style="cursor:pointer" onclick="window.location.href='@actionUrl'" class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="~/UserAssets/img/blog/blog-1.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> @post.DateCreated.ToShortDateString()</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a asp-controller="ViewPost" asp-action="Detail" asp-route-postslug="@post.Slug">@post.Title</a></h5>
                            <p>@post.Description </p>
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>
</section>
<!-- Related Blog Section End -->


@* @section Sidebar {
    @await Component.InvokeAsync("AppMVC.Components.CategorySidebar",
        new CategorySidebar.CategorySidebarData()
{
    Categories = categories,
    level = 0,
    categoryslug = category.Slug
})

} *@