@using AppMVC.Models.Product
@using AppMVC.Models.Blog
@{
    ViewData["Title"] = "Home Page";
    var products = ViewBag.products as IQueryable<ProductModel>;
    var posts = ViewBag.posts as IQueryable<Post>;
    IQueryable<ProductModel> lastestProducts = ViewBag.lastestProducts as IQueryable<ProductModel>;
    IQueryable<ProductModel> productSales = ViewBag.productSales as IQueryable<ProductModel>;
    List<ProductModel> owl1 = new List<ProductModel>();
    List<ProductModel> owl2 = new List<ProductModel>();
    int count = 0;
    foreach (var p in lastestProducts)
    {
        if (count < 3)
        {
            owl1.Add(p);
            count++;
        }
        else if (count >= 3 && count < 6)
        {
            owl2.Add(p);
            count++;
        }
    }
}

@* Banner Section *@
<div class="container mb-5">
    <div class="hero__item set-bg" data-setbg="/userassets/img/hero/banner.jpg">
        <div class="hero__text">
            <span>FRUIT FRESH</span>
            <h2>Vegetable <br />100% Organic</h2>
            <p>Free Pickup and Delivery Available</p>
            <a asp-controller="ViewProduct" asp-action="Index" asp-area="Product" asp-route-categoryslug="" class="primary-btn">SHOP NOW</a>
        </div>
    </div>
</div>
<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                @foreach(var cate in ViewBag.categories)
                {
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/userassets/img/categories/cat-1.jpg">
                            <h5><a asp-action="Index" asp-controller="ViewProduct"
                                asp-route-categoryslug="@cate.Slug" asp-area="Product">@cate.Title</a></h5>
                        </div>
                    </div>
                }
                
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Featured Product</h2>
                </div>
                @* <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".oranges">Oranges</li>
                        <li data-filter=".fresh-meat">Fresh Meat</li>
                        <li data-filter=".vegetables">Vegetables</li>
                        <li data-filter=".fastfood">Fastfood</li>
                    </ul>
                </div> *@
            </div>
        </div>
        <div class="row featured__filter">
            @foreach (var product in products)
            {
                var srcImg = "/contents/planet/Earth.jpg";
                string actionUrl = @Url.Action("Detail", "ViewProduct", new { area = "Product", productslug = product.Slug });
                if (product.Photos.Any())
                {
                    srcImg = $"/contents/Products/{product.Photos.FirstOrDefault().FileName}";
                }
                @* style = "cursor:pointer" onclick = "window.location.href='@actionUrl'" *@
                if(product.DiscountPercent > 0)
                {
                    var priceDiscount = product.Price - (product.Price * product.DiscountPercent) / 100;
                    <div class="col-lg-3">
                        <div class="product__discount__item">
                            <div class="product__discount__item__pic set-bg"
                                 data-setbg=@srcImg>
                                <div class="product__discount__percent">-@(product.DiscountPercent)%</div>
                                <ul class="product__item__pic__hover">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    <li>
                                        
                                        <a style="cursor:pointer;" onclick="AddToCart()" id="addToCart" data-id="@product.ProductId">
                                            <i class="fa fa-shopping-cart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product__discount__item__text">
                                <h5>
                                    <a asp-area="Product" asp-action="Detail" asp-controller="ViewProduct"
                                       asp-route-productslug="@product.Slug">
                                        @product.Title
                                    </a>
                                </h5>
                                <div class="product__item__price">$@priceDiscount <span>$@product.Price</span></div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                        <div class="featured__item">
                            <div class="featured__item__pic set-bg" data-setbg=@srcImg>
                                <ul class="featured__item__pic__hover">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    <li>
                                        @* <a asp-area="Product" asp-action="AddToCart" asp-controller="ViewProduct"
                                asp-route-productid="@product.ProductId">
                                <i class="fa fa-shopping-cart"></i></a> *@
                                        <a style="cursor:pointer;" onclick="AddToCart()" id="addToCart" data-id="@product.ProductId">
                                            <i class="fa fa-shopping-cart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="featured__item__text">
                                <h6>
                                    <a asp-area="Product" asp-action="Detail" asp-controller="ViewProduct"
                                       asp-route-productslug="@product.Slug">
                                        @product.Title
                                    </a>
                                </h6>
                                <h5>$@product.Price</h5>
                            </div>
                        </div>
                    </div>
                }
                
               
            }
            
        </div>
    </div>
</section>
<!-- Featured Section End -->

<!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="~/userassets/img/banner/banner-1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="~/userassets/img/banner/banner-2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->
<!-- Latest Product Section Begin -->
<section class="latest-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Latest Products</h4>
                    <div class="latest-product__slider owl-carousel">

                        <div class="latest-prdouct__slider__item">
                            @{
                                var srcImage = "~/UserAssets/img/latest-product/lp-1.jpg";
                            }
                            @foreach (var p in owl1)
                            {
                                srcImage = $"/contents/Products/{p.Photos.FirstOrDefault().FileName}";
                                <a asp-action="Detail" asp-controller="ViewProduct"
                                   asp-area="Product" asp-route-productslug="@p.Slug" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img style="width:110px" src=@srcImage alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>@p.Title</h6>
                                        <span>$@p.Price</span>
                                    </div>
                                </a>
                            }

                        </div>
                        <div class="latest-prdouct__slider__item">
                            @foreach (var p in owl2)
                            {
                                srcImage = $"/contents/Products/{p.Photos.FirstOrDefault().FileName}";
                                <a asp-action="Detail" asp-controller="ViewProduct"
                                   asp-area="Product" asp-route-productslug="@p.Slug" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img style="width:110px" src=@srcImage alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>@p.Title</h6>
                                        <span>$@p.Price</span>
                                    </div>
                                </a>
                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Top Rated Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/userassets/img/latest-product/lp-1.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/userassets/img/latest-product/lp-2.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/userassets/img/latest-product/lp-3.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/userassets/img/latest-product/lp-1.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/userassets/img/latest-product/lp-2.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/userassets/img/latest-product/lp-3.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Review Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/userassets/img/latest-product/lp-1.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/userassets/img/latest-product/lp-2.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/userassets/img/latest-product/lp-3.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/userassets/img/latest-product/lp-1.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/userassets/img/latest-product/lp-2.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/userassets/img/latest-product/lp-3.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Product Section End -->
<!-- Blog Section Begin -->
<section class="from-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title from-blog__title">
                    <h2>From The Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var post in posts)
            {
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="~/userassets/img/blog/blog-1.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> Date: <i>@post.DateUpdated.ToShortDateString()</i></li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5>
                                <a asp-area="Blog" asp-controller="ViewPost" asp-action="Detail" asp-route-postslug="@post.Slug">@post.Title</a>
                            </h5>
                            <p>@post.Description </p>
                        </div>
                    </div>
                </div>
                
            }
            
        </div>
    </div>
</section>
<!-- Blog Section End -->

@section Scripts {
    <script>
       
        function AddToCart() {
            $(document).ready(function () {
                    var box = $("#addToCart");
                    var productId = box.data("id");

                    var formData = new FormData();
                formData.append("productid", productId);

                    var urlCart = "@Url.Action("AddToCartApi","ViewProduct", new{area="Product"})";
                $.ajax({
                                data: formData,
                                cache: false,
                                url: urlCart,
                                type: "POST",
                                contentType: false,
                                processData: false,
                                success: function (data) {
                                    alert("Add product to cart Success");
                                }
                            })
                
            });
        }
       
    </script>
}