@using Microsoft.EntityFrameworkCore
@using System.Data
@inject AppDbContext dbContext

@using AppMVC.Menu
@inject AdminSidebarService _adminSidebarService
@{
    ViewData["Title"] = "Database";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
    var connect = dbContext.Database.GetDbConnection();
    var dbName = connect.Database;
    var can_connect = dbContext.Database.CanConnect();
}
<p>@TempData["StatusMessage"]</p>
<h2>Connect database</h2>
<p>Database: @dbName</p>
<p>Source: @connect.DataSource</p>
<p>State: @connect.State</p>
<a class="btn btn-primary" asp-action="SeedData" asp-controller="DbManage" asp-area="Database">Seed
    Post Category</a>
<a class="btn btn-danger" asp-action="DeleteDb" asp-controller="DbManage" asp-area="Database">Delete Database</a>

@{
    _adminSidebarService.SetActive("DbManage", "Index", "Database");
}
@section Sidebar {
    @Html.Raw(_adminSidebarService.renderHtml());
}