@model IEnumerable<AppMVC.Models.Product.ProductModel>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a class="btn btn-sm btn-secondary" asp-action="Create">Create New Product</a>
</p>
<p>Total Products: @ViewBag.totalProducts</p>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(++ViewBag.postIndex)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                    <br />
                    <small>
                        @string.Join(",", item.ProductCategories.Select(pc => pc.Category.Title))
                    </small>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Published)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpdated)
                </td>
                <td>

                    <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                    <a class="text-danger" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_Paging" model="@ViewBag.pagingModel" />
